ParseStarterProject.xcodeproj/project.xcworkspace/xcuserdata/yuta-toga.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
ParseStarterProject.xcodeproj/project.xcworkspace/xcuserdata/hector-garcia.xcuserdatad
ParseStarterProject.xcodeproj/xcuserdata/hector-garcia.xcuserdatad

ParseStarterProject.xcodeproj/project.xcworkspace/xcuserdata/misuzu-kikuchi.xcuserdatad/UserInterfaceState.xcuserstate
ParseStarterProject.xcodeproj/xcuserdata/misuzu-kikuchi.xcuserdatad
